# Created by .ignore support plugin (hsz.mobi)
/.ipynb_checkpoints/
/cmake-build-debug/
/Emulator/.ipynb_checkpoints/
/Emulator/recieve.ipynb
/Emulator/test
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/robotik.iml
/.idea/vcs.xml
/venv/
/Emulator/Python/
