# Created by .ignore support plugin (hsz.mobi)
/.ipynb_checkpoints/
/cmake-build-debug/
/Emulator/.ipynb_checkpoints/
/Emulator/test
/venv/
/Emulator/Python/
/Neu/master/basis.eep
/Neu/master/basis.elf
/Neu/master/basis.hex
